# Overview


Data Source:

1. Energy Data: https://www.kaggle.com/datasets/lislejoem/us_energy_census_gdp_10-14?resource=download

In [2]:
import pandas as pd
from sqlalchemy import create_engine, inspect
from bs4 import BeautifulSoup
import requests

# Extract

## Store CSV into DataFrame

In [3]:
#Load in energy data
csv_file_1 = "resources/energy_census_and_economic_data_US_2010-2014.csv"
energy_df = pd.read_csv(csv_file_1)
energy_df.head()

,StateCodes,State,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
0,AL,Alabama,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
1,AK,Alaska,4.0,9.0,1.0,0.0,653221,653637,649341,621107,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
2,AZ,Arizona,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
3,AR,Arkansas,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
4,CA,California,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406

# Transform

In [4]:
#Cleaning Energy Consumption Data
year = []
state = []
energy_consumption = []
gdp = []
#Sectors of energy consumption:
biomass_consumption = []
coal_consumption = []
elec_consumption = []
fossfuel_consumption = []
natgas_consumption = []

for index, row in energy_df.iterrows():
    year.append('2010')
    state.append(energy_df['State'][index])
    energy_consumption.append(energy_df['TotalC2010'][index])
    gdp.append(energy_df['GDP2010'][index])
    biomass_consumption.append(energy_df['BiomassC2010'][index])
    coal_consumption.append(energy_df['CoalC2010'][index])
    elec_consumption.append(energy_df['ElecC2010'][index])
    fossfuel_consumption.append(energy_df['FossFuelC2010'][index])
    natgas_consumption.append(energy_df['NatGasC2010'][index])
    
for index, row in energy_df.iterrows():
    year.append('2011')
    state.append(energy_df['State'][index])
    energy_consumption.append(energy_df['TotalC2011'][index])
    gdp.append(energy_df['GDP2011'][index])
    biomass_consumption.append(energy_df['BiomassC2011'][index])
    coal_consumption.append(energy_df['CoalC2011'][index])
    elec_consumption.append(energy_df['ElecC2011'][index])
    fossfuel_consumption.append(energy_df['FossFuelC2011'][index])
    natgas_consumption.append(energy_df['NatGasC2011'][index])
    
for index, row in energy_df.iterrows():
    year.append('2012')
    state.append(energy_df['State'][index])
    energy_consumption.append(energy_df['TotalC2012'][index])
    gdp.append(energy_df['GDP2012'][index])
    biomass_consumption.append(energy_df['BiomassC2012'][index])
    coal_consumption.append(energy_df['CoalC2012'][index])
    elec_consumption.append(energy_df['ElecC2012'][index])
    fossfuel_consumption.append(energy_df['FossFuelC2012'][index])
    natgas_consumption.append(energy_df['NatGasC2012'][index])
    
for index, row in energy_df.iterrows():
    year.append('2013')
    state.append(energy_df['State'][index])
    energy_consumption.append(energy_df['TotalC2013'][index])
    gdp.append(energy_df['GDP2013'][index])
    biomass_consumption.append(energy_df['BiomassC2013'][index])
    coal_consumption.append(energy_df['CoalC2013'][index])
    elec_consumption.append(energy_df['ElecC2013'][index])
    fossfuel_consumption.append(energy_df['FossFuelC2013'][index])
    natgas_consumption.append(energy_df['NatGasC2013'][index])
    
for index, row in energy_df.iterrows():
    year.append('2014')
    state.append(energy_df['State'][index])
    energy_consumption.append(energy_df['TotalC2014'][index])
    gdp.append(energy_df['GDP2014'][index])
    biomass_consumption.append(energy_df['BiomassC2014'][index])
    coal_consumption.append(energy_df['CoalC2014'][index])
    elec_consumption.append(energy_df['ElecC2014'][index])
    fossfuel_consumption.append(energy_df['FossFuelC2014'][index])
    natgas_consumption.append(energy_df['NatGasC2014'][index])

In [5]:
energy_cleaned_df = pd.DataFrame({
#     'year_state': year_state,
    'year': year,
    'state': state,
    'total_energy': energy_consumption,
    'gdp': gdp,
    'biomass_consumption': biomass_consumption,
    'coal_consumption': coal_consumption,
    'electricity_consumption': elec_consumption,
    'fossil_fuel_consumption': fossfuel_consumption,
    'natural_gas_consumption': natgas_consumption
})

energy_cleaned_df

,year,state,total_energy,gdp,biomass_consumption,coal_consumption,electricity_consumption,fossil_fuel_consumption,natural_gas_consumption
0,2010,Alabama,1931522,176220.75,169088,718684,310023,1785688,544405
1,2010,Alaska,653221,54220.00,4178,14548,21315,634777,334978
2,2010,Arizona,1383531,247333.00,29289,457909,248506,1292346,336208
3,2010,Arkansas,1120632,104928.75,94865,293689,164439,909827,274774
4,2010,California,7760629,1960935.00,280124,54972,882107,5741492,2325411
...,...,...,...,...,...,...,...,...,...
255,2014,West Virginia,752942,74432.75,30091,816460,111559,1163308,161661
256,2014,Wisconsin,1868867,293341.25,136809,417096,237116,1437711,477923
257,2014,Wyoming,535612,40875.50,4566,489300,58461,803967,141763
258,2014,District of Columbia,178929,116539.25,920,48,38193,55217,35316
259,2014,United States,98385210,17233140.00,4611638,17996577,12845157,80425776,27513198

In [6]:
#Scraping state coordinates
url = 'https://inkplant.com/code/state-latitudes-longitudes'

table_name = 'table table-hover' 
response = requests.get(url)

soup = BeautifulSoup(response.text, 'html.parser')

coordinates_table = soup.find('table', {'class':table_name})

df = pd.read_html(str(coordinates_table))

state_coordinates_df = df[0]

In [8]:
# coordinates = []
# for index, row in state_coordinates_df.iterrows():
#     coordinate = []
#     x = state_coordinates_df['Longitude'][index]
#     y = state_coordinates_df['Latitude'][index]
#     coordinate.append(x)
#     coordinate.append(y)
#     coordinates.append(coordinate)
pd.to_numeric(state_coordinates_df['Latitude'])
state_coordinates_df['Latitude'].dtype

dtype('float64')

In [9]:
# state_coordinates_df['coordinates'] = coordinates
# state_coordinates_df_cleaned = state_coordinates_df[['State', 'coordinates']]
state_coordinates_df = state_coordinates_df.rename(columns = {'State': 'state', 'Latitude': 'latitude', 'Longitude': 'longitude'})
# state_coordinates_df_cleaned
state_coordinates_df.head()

        state   latitude   longitude
0     Alabama  32.806671  -86.791130
1      Alaska  61.370716 -152.404419
2     Arizona  33.729759 -111.431221
3    Arkansas  34.969704  -92.373123
4  California  36.116203 -119.681564

In [10]:
final_df = pd.merge(energy_cleaned_df, state_coordinates_df, how = 'left')

In [11]:
final_df

,year,state,total_energy,gdp,biomass_consumption,coal_consumption,electricity_consumption,fossil_fuel_consumption,natural_gas_consumption,latitude,longitude
0,2010,Alabama,1931522,176220.75,169088,718684,310023,1785688,544405,32.806671,-86.791130
1,2010,Alaska,653221,54220.00,4178,14548,21315,634777,334978,61.370716,-152.404419
2,2010,Arizona,1383531,247333.00,29289,457909,248506,1292346,336208,33.729759,-111.431221
3,2010,Arkansas,1120632,104928.75,94865,293689,164439,909827,274774,34.969704,-92.373123
4,2010,California,7760629,1960935.00,280124,54972,882107,5741492,2325411,36.116203,-119.681564
...,...,...,...,...,...,...,...,...,...,...,...
255,2014,West Virginia,752942,74432.75,30091,816460,111559,1163308,161661,38.491226,-80.954453
256,2014,Wisconsin,1868867,293341.25,136809,417096,237116,1437711,477923,44.268543,-89.616508
257,2014,Wyoming,535612,40875.50,4566,489300,58461,803967,141763,42.755966,-107.302490
258,2014,District of Columbia,178929,116539.25,920,48,38193,55217,35316,38.897438,-77.026817
259,2014,United States,98385210,17233140.00,4611638,17996577,12845157,80425776,27513198,NaN,NaN

In [12]:
final_df.columns

Index(['year', 'state', 'total_energy', 'gdp', 'biomass_consumption',
       'coal_consumption', 'electricity_consumption',
       'fossil_fuel_consumption', 'natural_gas_consumption', 'latitude',
       'longitude'],
      dtype='object')

## Create database connection

In [17]:
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'energy_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [18]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

['energy_consumption']

## Load DataFrames into database

In [19]:
final_df.to_sql(name='energy_consumption', con=engine, if_exists='append', index=False)

260

In [20]:
# cleaned_min_wage_data_df.to_sql(name='minimum_wage', con=engine, if_exists='append', index=False)

## Confirm data has been added by querying the DB table

In [21]:
pd.read_sql_query('select * from energy_consumption', con=engine).head()

,year,state,total_energy,gdp,biomass_consumption,coal_consumption,electricity_consumption,fossil_fuel_consumption,natural_gas_consumption,latitude,longitude
0,2010,Alabama,1931522,176220.75,169088,718684,310023,1785688,544405,32.806671,-86.791130
1,2010,Alaska,653221,54220.00,4178,14548,21315,634777,334978,61.370716,-152.404419
2,2010,Arizona,1383531,247333.00,29289,457909,248506,1292346,336208,33.729759,-111.431221
3,2010,Arkansas,1120632,104928.75,94865,293689,164439,909827,274774,34.969704,-92.373123
4,2010,California,7760629,1960935.00,280124,54972,882107,5741492,2325411,36.116203,-119.681564

In [22]:
# Export the DataFrames to CSV

energy_cleaned_df.to_csv("energy_cleaned_df.csv", index=True)