# Overview

**ETL** : Extract, Transform, Load Project

**Extract**: extract data from different sources, read the data, and store into a dataframe.

**Transform**: clean, structure, and transform the raw data that has been extracted from the sources into a specific schema, so it meets the operation needs.

**Load**: load and store the data into a database for future analysis.

Data Source:

1. Energy Data: https://www.kaggle.com/datasets/lislejoem/us_energy_census_gdp_10-14?resource=download

In [1]:
import pandas as pd
from sqlalchemy import create_engine, inspect

# Extract

## Store CSV into DataFrame

In [3]:
#Load in energy data
csv_file_1 = "resources/energy_census_and_economic_data_US_2010-2014.csv"
energy_df = pd.read_csv(csv_file_1)
energy_df.head()

,StateCodes,State,Region,Division,Coast,Great Lakes,TotalC2010,TotalC2011,TotalC2012,TotalC2013,...,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014
0,AL,Alabama,3.0,6.0,1.0,0.0,1931522,1905207,1879716,1919365,...,1.165832,1.157861,-0.020443,-0.168414,0.396416,0.420102,1.011941,1.001333,1.562247,1.577963
1,AK,Alaska,4.0,9.0,1.0,0.0,653221,653637,649341,621107,...,3.203618,2.869760,-1.175137,-1.949571,-3.789313,-13.754494,0.948185,1.835376,-0.585695,-10.884734
2,AZ,Arizona,4.0,8.0,0.0,0.0,1383531,1424944,1395839,1414383,...,1.090035,1.091283,1.341472,-0.420875,-0.580562,-1.313050,2.317801,0.621971,0.509473,-0.221767
3,AR,Arkansas,3.0,7.0,0.0,0.0,1120632,1122544,1067642,1096438,...,2.141877,2.129805,1.369514,5.131282,3.910476,6.280636,3.336628,7.155212,6.052353,8.410441
4,CA,California,4.0,9.0,1.0,0.0,7760629,7777115,7564063,7665241,...,4.207353,4.177389,-1.162079,-1.173951,-1.341226,-0.830982,2.761377,2.772770,2.866127,3.346406

In [4]:
# energy_columns = energy_df.columns

# for column in energy_columns:
#     print(column)

In [5]:
# Calculate yearly GDP rates and adding the columns into the energy_df dataframe.
# yearly GDP change. Calculated by dividing the second year’s GDP by the first year’s GDP.
gdp_2010_2011 = []
gdp_2011_2012 = []
gdp_2012_2013 = []
gdp_2013_2014 = []

i = 0
while i < len(energy_df):
    if True:
        gdp_2010_2011.append(energy_df["GDP2011"][i] / energy_df["GDP2010"][i] * 100)
        gdp_2011_2012.append(energy_df["GDP2012"][i] / energy_df["GDP2011"][i] * 100)
        gdp_2012_2013.append(energy_df["GDP2013"][i] / energy_df["GDP2012"][i] * 100)
        gdp_2013_2014.append(energy_df["GDP2014"][i] / energy_df["GDP2013"][i] * 100)
    i += 1
    
energy_df["GDP_2010_2011"] = gdp_2010_2011
energy_df["GDP_2011_2012"] = gdp_2011_2012
energy_df["GDP_2012_2013"] = gdp_2012_2013
energy_df["GDP_2013_2014"] = gdp_2013_2014
    
gdp_df = energy_df[['StateCodes', 'State', 'GDP_2010_2011', 'GDP_2011_2012', 'GDP_2012_2013', 'GDP_2013_2014' ]]
gdp_df = gdp_df.rename(columns={'StateCodes':'statecodes', 'State':'state', 'GDP_2010_2011': 'gdp_2010_2011', 'GDP_2011_2012': 'gdp_2011_2012', 'GDP_2012_2013': 'gdp_2012_2013', 'GDP_2013_2014': 'gdp_2013_2014' }).copy()
gdp_df

,statecodes,state,gdp_2010_2011,gdp_2011_2012,gdp_2012_2013,gdp_2013_2014
0,AL,Alabama,103.235856,102.946439,102.307734,103.094513
1,AK,Alaska,109.402896,103.869383,97.203941,96.954455
2,AZ,Arizona,103.350746,104.111662,101.856888,103.868430
3,AR,Arkansas,104.240497,101.977313,104.581723,103.783278
4,CA,California,103.590774,104.443085,104.413139,104.954967
5,CO,Colorado,103.350013,104.066961,104.020306,105.733114
6,CT,Connecticut,100.830666,102.605365,101.718157,103.443137
7,DE,Delaware,103.622965,101.691675,101.068709,106.611449
8,FL,Florida,100.751307,103.998841,104.276230,104.795298
9,GA,Georgia,102.675864,103.833998,103.668176,104.645031
10,HI,Hawaii,103.184480,103.459644,102.651170,103.260293
11,ID,Idaho,102.996648,102.564338,104.382972,103.687158
12,IL,Illinois,103.996699,104.907518,101.107242,102.988677
13,IN,Indiana,103.100633,102.746328,103.588875,104.384003
14,IA,Iowa,105.672201,106.488367,102.765316,104.415878
15,KS,Kansas,107.049787,102.866602,100.828565,102.653504
16,KY,Kentucky,103.901542,103.456789,102.517539,103.186573
17,LA,Louisiana,102.414623,102.680008,97.944792,103.139841
18,ME,Maine,100.344026,102.185768,101.318766,103.244387
19,MD,Maryland,103.012047,102.309438,101.809843,103.805472
20,MA,Massachusetts,103.607206,104.492319,101.477017,104.019747
21,MI,Michigan,103.665795,103.978600,103.302736,103.736794
22,MN,Minnesota,104.792140,103.598711,104.236777,104.285425
23,MS,Mississippi,101.987025,105.413555,101.162782,101.614945
24,MO,Missouri,100.533874,103.183804,103.530550,103.183410
25,MT,Montana,108.042777,103.174487,102.576075,103.352362
26,NE,Nebraska,108.253710,103.142597,104.918121,103.242682
27,NV,Nevada,102.482446,102.004371,101.382538,105.606588
28,NH,New Hampshire,102.263526,102.988026,101.959849,104.514794
29,NJ,New Jersey,100.929228,104.190658,102.250819,102.883089
30,NM,New Mexico,103.884807,101.107845,100.893851,103.773626
31,NY,New York,101.974746,105.509845,102.711928,103.798527
32,NC,North Carolina,102.720632,102.472822,103.441016,104.380075
33,ND,North Dakota,116.900480,123.917004,104.299077,106.959337
34,OH,Ohio,105.484488,104.346245,102.647545,105.341754
35,OK,Oklahoma,109.225635,105.223942,104.908100,104.233141
36,OR,Oregon,104.636794,98.359569,100.380999,102.829703
37,PA,Pennsylvania,103.251451,103.113623,103.044312,104.188330
38,RI,Rhode Island,101.221397,103.125297,102.557206,104.335950
39,SC,South Carolina,103.580161,102.501421,103.090478,104.865618
40,SD,South Dakota,111.590603,101.896792,103.816591,101.537537
41,TN,Tennessee,104.173301,105.995490,102.999274,103.715954
42,TX,Texas,107.954832,106.644526,105.992390,104.899180
43,UT,Utah,105.426464,102.801473,104.580960,104.182223
44,VT,Vermont,104.385284,102.109597,101.651212,103.673444
45,VA,Virginia,101.996549,102.909115,101.653441,102.293874
46,WA,Washington,102.809409,104.799123,103.238663,104.959793
47,WV,West Virginia,105.869461,100.033149,102.605593,102.295482
48,WI,Wisconsin,103.874591,103.886058,102.800317,104.188255
49,WY,Wyoming,106.355957,95.985858,101.371871,101.035680
50,DC,District of Columbia,103.829362,101.602348,101.873633,104.223661
51,US,United States,103.675882,104.123325,103.164067,104.135315

# Transform

In [6]:
#Cleaning Energy Consumption Data
year = []
state = []
#Total energy consumption:
energy_consumption = []
#Sectors of energy consumption:
biomass_consumption = []
coal_consumption = []
elec_consumption = []
fossfuel_consumption = []
natgas_consumption = []

#GDP by year
gdp = []

year_starter = 2010
year_counter = 0


while True:
    for index, row in energy_df.iterrows():
        if (index == (len(energy_df)-1)):
            year.append(year_starter + year_counter)
            state.append(energy_df['State'][index])
            energy_consumption.append(energy_df[f"TotalC{year_starter + year_counter}"][index])
            biomass_consumption.append(energy_df[f"BiomassC{year_starter + year_counter}"][index])
            print(f"BiomassC{year_starter + year_counter}")
            coal_consumption.append(energy_df[f"CoalC{year_starter + year_counter}"][index])
            elec_consumption.append(energy_df[f"ElecC{year_starter + year_counter}"][index])
            fossfuel_consumption.append(energy_df[f"FossFuelC{year_starter + year_counter}"][index])
            natgas_consumption.append(energy_df[f"NatGasC{year_starter + year_counter}"][index])
            gdp.append(energy_df[f"GDP{year_starter + year_counter}"][index])
            year_counter += 1
            continue

        else:
            year.append(year_starter + year_counter)
            state.append(energy_df['State'][index])
            energy_consumption.append(energy_df[f"TotalC{year_starter + year_counter}"][index])
            biomass_consumption.append(energy_df[f"BiomassC{year_starter + year_counter}"][index])
            coal_consumption.append(energy_df[f"CoalC{year_starter + year_counter}"][index])
            elec_consumption.append(energy_df[f"ElecC{year_starter + year_counter}"][index])
            fossfuel_consumption.append(energy_df[f"FossFuelC{year_starter + year_counter}"][index])
            natgas_consumption.append(energy_df[f"NatGasC{year_starter + year_counter}"][index])
            gdp.append(energy_df[f"GDP{year_starter + year_counter}"][index])
    
    if (year_starter + year_counter == 2015):
        break

BiomassC2010
BiomassC2011
BiomassC2012
BiomassC2013
BiomassC2014

In [7]:
energy_df_cleaned = pd.DataFrame({
#     'year_state': year_state,
    'year': year,
    'state': state,
    'total_energy': energy_consumption ,
    'gdp': gdp,
    'biomass_consumption': biomass_consumption,
    'coal_consumption': coal_consumption,
    'electricity_consumption': elec_consumption,
    'fossil_fuel_consumption': fossfuel_consumption,
    'natural_gas_consumption': natgas_consumption
})

energy_df_cleaned

,year,state,total_energy,gdp,biomass_consumption,coal_consumption,electricity_consumption,fossil_fuel_consumption,natural_gas_consumption
0,2010,Alabama,1931522,176220.75,169088,718684,310023,1785688,544405
1,2010,Alaska,653221,54220.00,4178,14548,21315,634777,334978
2,2010,Arizona,1383531,247333.00,29289,457909,248506,1292346,336208
3,2010,Arkansas,1120632,104928.75,94865,293689,164439,909827,274774
4,2010,California,7760629,1960935.00,280124,54972,882107,5741492,2325411
...,...,...,...,...,...,...,...,...,...
255,2014,West Virginia,752942,74432.75,30091,816460,111559,1163308,161661
256,2014,Wisconsin,1868867,293341.25,136809,417096,237116,1437711,477923
257,2014,Wyoming,535612,40875.50,4566,489300,58461,803967,141763
258,2014,District of Columbia,178929,116539.25,920,48,38193,55217,35316
259,2014,United States,98385210,17233140.00,4611638,17996577,12845157,80425776,27513198

In [8]:
energy_df_cleaned.columns

Index(['year', 'state', 'total_energy', 'gdp', 'biomass_consumption',
       'coal_consumption', 'electricity_consumption',
       'fossil_fuel_consumption', 'natural_gas_consumption'],
      dtype='object')

## Create database connection

In [9]:
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'energy_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [10]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

['energy_consumption', 'minimum_wage']

## Load DataFrames into database

In [11]:
energy_df_cleaned.to_sql(name='energy_consumption', con=engine, if_exists='append', index=False)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "biomass_consumption" of relation "energy_consumption" does not exist
LINE 1: ...ergy_consumption (year, state, total_energy, gdp, biomass_co...
                                                             ^

[SQL: INSERT INTO energy_consumption (year, state, total_energy, gdp, biomass_consumption, coal_consumption, electricity_consumption, fossil_fuel_consumption, natural_gas_consumption) VALUES (%(year)s, %(state)s, %(total_energy)s, %(gdp)s, %(biomass_consumption)s, %(coal_consumption)s, %(electricity_consumption)s, %(fossil_fuel_consumption)s, %(natural_gas_consumption)s)]
[parameters: ({'year': 2010, 'state': 'Alabama', 'total_energy': 1931522, 'gdp': 176220.75, 'biomass_consumption': 169088, 'coal_consumption': 718684, 'electricity_consumption': 310023, 'fossil_fuel_consumption': 1785688, 'natural_gas_consumption': 544405}, {'year': 2010, 'state': 'Alaska', 'total_energy': 653221, 'gdp': 54220.0, 'biomass_consumption': 4178, 'coal_consumption': 14548, 'electricity_consumption': 21315, 'fossil_fuel_consumption': 634777, 'natural_gas_consumption': 334978}, {'year': 2010, 'state': 'Arizona', 'total_energy': 1383531, 'gdp': 247333.0, 'biomass_consumption': 29289, 'coal_consumption': 457909, 'electricity_consumption': 248506, 'fossil_fuel_consumption': 1292346, 'natural_gas_consumption': 336208}, {'year': 2010, 'state': 'Arkansas', 'total_energy': 1120632, 'gdp': 104928.75, 'biomass_consumption': 94865, 'coal_consumption': 293689, 'electricity_consumption': 164439, 'fossil_fuel_consumption': 909827, 'natural_gas_consumption': 274774}, {'year': 2010, 'state': 'California', 'total_energy': 7760629, 'gdp': 1960935.0, 'biomass_consumption': 280124, 'coal_consumption': 54972, 'electricity_consumption': 882107, 'fossil_fuel_consumption': 5741492, 'natural_gas_consumption': 2325411}, {'year': 2010, 'state': 'Colorado', 'total_energy': 1513547, 'gdp': 258148.25, 'biomass_consumption': 28210, 'coal_consumption': 382623, 'electricity_consumption': 180555, 'fossil_fuel_consumption': 1370758, 'natural_gas_consumption': 510877}, {'year': 2010, 'state': 'Connecticut', 'total_energy': 764970, 'gdp': 230357.25, 'biomass_consumption': 35716, 'coal_consumption': 28711, 'electricity_consumption': 103697, 'fossil_fuel_consumption': 562060, 'natural_gas_consumption': 203814}, {'year': 2010, 'state': 'Delaware', 'total_energy': 250212, 'gdp': 57673.75, 'biomass_consumption': 6901, 'coal_consumption': 30253, 'electricity_consumption': 39599, 'fossil_fuel_consumption': 171414, 'natural_gas_consumption': 56087}  ... displaying 10 of 260 total bound parameter sets ...  {'year': 2014, 'state': 'District of Columbia', 'total_energy': 178929, 'gdp': 116539.25, 'biomass_consumption': 920, 'coal_consumption': 48, 'electricity_consumption': 38193, 'fossil_fuel_consumption': 55217, 'natural_gas_consumption': 35316}, {'year': 2014, 'state': 'United States', 'total_energy': 98385210, 'gdp': 17233140.0, 'biomass_consumption': 4611638, 'coal_consumption': 17996577, 'electricity_consumption': 12845157, 'fossil_fuel_consumption': 80425776, 'natural_gas_consumption': 27513198})]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
cleaned_min_wage_data_df.to_sql(name='minimum_wage', con=engine, if_exists='append', index=False)

## Confirm data has been added by querying the DB table

In [ ]:
pd.read_sql_query('select * from energy_consumption', con=engine).head()

In [ ]:
pd.read_sql_query('select * from minimum_wage', con=engine).head()